{% extends 'explorer/base.html' %}
{% load explorer %}
{% block content %}
{{ object.csv_file}}
<div class="list-group list-group-horizontal">
    {% for header in headers %}
        <a href="{% get_values_url value=header request=request %}" class="list-group-item list-group-item-action {% if header in request.get_full_path %}active{% endif %}">{{ header }}</a>
    {% endfor %}
</div>
<div>

<table class="table">
  <thead>
    <tr>
        {% for header in table_headers %}
        <th>{{ header }}</th>
        {% endfor %}

    </tr>
  </thead>
  <tbody>
   {% for person in data %}
    <tr>
        {% for field in person %}
            <td>{{ field }}</td>
        {% endfor %}
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
